
{% extends 'padre.html' %}

{% load static %}

{% block bloqueQueCambia %}





    <h3>Descripcion del sitio</h3>

    <h6>En esta página puedes encontrar la descripción del proyecto, 

        Este es una página de opinión de zapatos en la que puedes crear un usuario para navegar dentro de ella, 
        
        Dentro de ella podrás añadir comentarios, zapatos, artículos, sucursales y proveedores,
        
        Principalmente se enfoca en que la gente añada comentarios los cuales se comparten en el muro para que todos vean, 
        
        Por temas de tiempo no se pudo continuar a mayor detalle el desarrollo de esta plataforma, pero como producto final nos encontramos satisfechos de los resultados.   </h6>


    <P>INFORMACION EQUIPO </P>


    <h3>Integrante: Valentin Vecino</h3>

    <h6>Tengo 22 años actualmente, soy originario de Argentina, Buenos Aires, me encuentro viviendo alli. Hace 4 meses comence a estudiar programacion con el objetivo de poder encontrar un puesto laboral dentro del mundo IT. En estos cuatro meses me di cuenta que la programacion es ademas de dificil entretenida por lo que me motiva a seguir aprendiendo dia a dia por mas que las cosas se pongan dificiles..   </h6>


    <br>

    <h3>Integrante: Vicente Consoli</h3>

    <h6>Tengo 24 años actualmente, soy originario de Mérida, Yucatán, México, estudie la carrera de ingeniería química Industrial en la Facultad de ingeniería química de la Universidad Autónoma de Yucatán (UADY), en mi carrera aprendí programación orientada a la resolución de problemas numéricos, utilice Python y Matlab que fue donde conocí la programación, actualmente me encuentro en Canadá y voy a estudiar una maestría en bases de datos, quiero aprender más del lenguaje para ampliar mis herramientas las cuales me permitan posicionarme en una mejor posición laboral en el mundo IT.</h6>



    {% endblock bloqueQueCambia %}
    