{% extends 'padre.html' %}

{% load static %}

{% block bloqueQueCambia %}
    

<h1>Lista de Proveedores</h1>

<ul>

    
    {% for proveedor in proveedores %}

        <li>{{proveedor}}</li>
        <div>

            <form action="{% url 'eliminaProveedores' proveedor.id %}" method="POST">{% csrf_token %}

                <button type="submit">Eliminar</button>

            </form>

            <button>
                <a href="{% url 'editaProveedores' proveedor.id %}">Editar</a>
            </button>

        </div>
        
    {% endfor %}
        

</ul>

<a href="{% url 'creaProveedores' %}"> Crea proveedor </a>

{% endblock bloqueQueCambia %}