<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de zapatos</title>
</head>
<body>
   
   <h1>Listado de zapatos:</h1>


   
   
    <ul>

        
        {% for zapatos in lista_zapatos %}

            <li>Zapato: Modelo - {{zapatos.modelo}} - {{zapatos.talla}} - {{zapatos.color}} - {{zapatos.precio}}</li>
            
        {% endfor %}
            

    </ul>

</body>
</html>
